.navbar {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: black;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }

button{
  background-color: white;
  height: 40px;
  width: 120px;
}
