.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: calc(100% - 20px); /* Corrección de la fórmula del width */
  background-color: #8d8a8a; /* Gris claro */
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed; /* Fija el navbar en la parte superior */
  top: 0; /* Pegado al borde superior */
  left: 0;
  right: 0;
  z-index: 1000; /* Asegura que el navbar esté sobre otros elementos */
}

.navbar-left {
  display: flex;
  align-items: center;
  color: white;
}

.navbar-right {
  display: flex;
  align-items: center;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

button {
  background-color: #444; /* Un tono gris oscuro para los botones */
  color: white;
  height: 40px;
  width: 140px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 15px;
}

button:hover {
  background-color: #666; /* Un tono gris más claro en hover */
}

.navbar-right .total {
  margin-right: 20px;
  font-size: 18px;
  font-weight: bold;
}

/* Agrega margen al contenido para evitar que se superponga con el navbar */
.main-content {
  margin-top: 80px; /* Ajusta según la altura del navbar */
}


