.pizza-name {
    color: black;
}

.pizza-price {
    color: black;
}

.pizza-detail {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    color: black;
}

.pizza-detail:hover {
    transform: translateY(-5px);
}

.pizza-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.pizza-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.pizza-price {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.pizza-ingredients {
    margin-bottom: 15px;
    text-align: center; /* Center the ingredients */
}

.pizza-ingredients ul {
    padding-left: 0; /* Remove default left padding for centering */
    list-style-type: none; /* Remove bullet points for a cleaner look */
}

.pizza-ingredients li {
    margin-bottom: 5px;
    font-size: 16px;
}

.pizza-description {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: black;
    text-align: justify; /* Justify the description text */
}

.quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the quantity controls horizontally */
    gap: 10px; /* Add some space between the buttons and quantity display */
    margin-top: 15px;
}

.quantity-button {
    background-color: #776363;
    border: 1px solid #ccc;
    padding: 10px; /* Adjust padding for better appearance */
    font-size: 12px;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center; /* Center the text inside the button */
    align-items: center;
    width: 100px; /* Adjust width to fit the text */
}

.quantity-button:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}

.quantity-display {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center; /* Center the quantity display horizontally */
}


